   * {
margin: 0;
padding: 0;
outline: 0;
   }



ol, ul {list-style: none;}

a, a:hover {text-decoration: none;}

.clearfix:before,
.clearfix:after {
content: "";
display: table;
}

.clearfix:after {clear: both;}

.left {float:left;}
.right {float:right;}
.text-right {text-align: right;}
.text-left { text-align: left; }

html, body, h1, h2, h3, h4,h5, h6, div, a, center, li, ul, ol, header, nav, table {
margin:0;
padding:0;
border:0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

html {height: 100%;}
body {
height: 100%;
font: 14px/14px `Times New Roman, Times, sans-serif;
background-color: #fff;

}


.container {
	width: 940px;
	margin: 0 auto;
}

#header {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	width: 100%;
	padding: 20px 0;
}

.logo {
	float: left;
}
.nav {
	float: right;
	padding-top: 5px;
}
.nav li {
	float: left;
	margin-right: 40px;
}
.nav li:last-child {
	margin-right: 0;
}
.nav a {
	text-transform: uppercase;
	font: 14px Arial, sans-serif;
	color: #fff;
}
.nav a:hover {
	color: #f1c736;
}

#home {
	height: 700px;
	padding-top: 270px;
	text-align: center;
	color: #fff;
	background: #222 url(../image/home-bg.jpg) no-repeat center bottom;
	background-size: cover;
}
#home h3 {
	margin-bottom: 40px;
	font: 40px/40px Arial, sans-serif;
}
#home h1 {
	margin-bottom: 50px;
	font: 75px/75px Arial, sans-serif;
	text-transform: uppercase;
}
.btn {
	display: inline-block;
	padding: 20px 30px;
	background: #FED136;
	font: bold 24px/24px Arial, sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 14px;
}
.btn:hover {
	background: #daae17;
	color: #fff;
}
.box {
	padding: 120px 0;
}
#services {
	text-align: center;
}
h2.title {
 margin-bottom: 10px;
	font: bold 40px/40px Arial, sans-serif;
	color: #222;
	text-transform: uppercase;
}

h5.title { 
margin-bottom: 10px;
font: bold 18px/18px Arial, sans-serif;
color: #222;

 }

.descr {
	margin-bottom: 10px;
	font-size: 16px;
	color: #777;
}
.services-wrap,
.portfolio-wrap,
.about-wrap,
#massage {
	padding-top: 70px;
}

.services-item {
float: left;
width: 31%;
padding: 90px 10px 0;

}

.services-item p {
	font-size: 18px;
	color: #777;
	line-height: 24px;
}
.commerce {
	background: url(../image/Commerce.png) no-repeat center top;
}
.responsive {
	background: url(../image/responsive.png) no-repeat center top;
}
.security{
	background: url(../image/security.png) no-repeat center top;
}
#portfolio,
#team {
	text-align: center;
	background: #f7f7f7;
}
.portfolio-item {
	float: left;
	width: 31%;
	margin-right: 3.5%;
	margin-bottom: 50px;
	background: #fff;
}

.portfolio-item:nth-child(3n) {
margin-right: 0;

}
.portfolio-item:nth-last-child (1),
.portfolio-item:nth-last-child (2),
.portfolio-item:nth-last-child (3), {
	margin-right: 0;
}

.p-item-footer {
	padding: 25px 20px;
}
.p-item-footer h5.title {
	margin-bottom: 4px;
}
#about {
	text-align: center;
}

.about-text {
	width: 35%;
}



.about-text h5 {
	line-height: 24px;
}
.about-text h5 span {text-transform: uppercase;}
.about-text p {
	font-size: 16px;
	color: #777;
	line-height: 24px;
}

.about-img {
	width: 30%;
}
.about-img:after {
content: '';
display: block;
margin: 0 auto;
height: 94px;
width: 3px;
background: #f1f1f1;

}
.about-img img, .about-link{
	display: inline-block;
	width: 177px;
	height: 177px;
	border: 7px solid #f1f1f1;
	border-radius: 50%;
}
.about-link  {
	padding-top: 30px;
text-transform: uppercase;
color: #fff;
background: #fed136;
font: bold 18px/30px Arial, sans-serif;
text-shadow: 0 1px rgba(0,0,0,.3);
}

.team-item{
	float: left;
	width: 33.33%;

}
.team-item img {
	margin-bottom: 15px;
border: 7px solid #fff;
	border-radius: 50%;

}
.team-info {margin-top: 45px;} 

.cat {
	font:14px/14px Arial, sans-serif;
	color: #777;
}
.social {margin-top: 10px;}
.social a {
	display: inline-block;
	margin: 0 3px;
	width: 40px;
	height: 40px;
	border: 3px solid #222;
	background: url(../image/social-sprite.png) no-repeat;
	border-radius: 50%;
}
.social a.black {
	background-color: #222;
}
.social a.ic-tw {
	background-position: 0 0;
}
.social a.ic-tw:hover{
	border-color: #00aced;
	background-color: #00aced;
	background-position: 0 -40px;
}
.social a.ic-tw.black {
	background-position: 0 -40px;
}
.social a.ic-fb {
	background-position: -40px 0;
}
.social a.ic-fb:hover {
	border-color: #3b5998;
	background-color: #3b5998;
	background-position: -40px -40px;
}
.social a.ic-fb.black {
background-position: -40px -40px;
}
.social a.ic-pn {
	background-position: -80px 0;
}
.social a.ic-pn:hover {
	border-color: #cb2028;
	background-color: #cb2028;
	background-position: -80px -40px;
}
.social a.ic-pn.black {
background-position: -80px -40px;
}
.social a.ic-gl {
	background-position: -120px 0;
}
.social a.ic-gl:hover {
	border-color: #d95232;
	background-color: #d95232;
	background-position: -120px 0;
}
.social a.ic-gl.black {
background-position: -120px -40px;
}
#brand {
	padding: 60px 0;
	text-align: center;
}
#brand a {
	display: inline-block;
	margin-right: 40px;
}
#brand a:last-child {margin-right: 0;}
#brand img {vertical-align: middle;}

#contact {
	text-align: center;
	background: #222 url(../image/maps-bg.png) no-repeat right bottom;
}
#contact h2.title {color: #fff;}

#massage .left, 
#massage .right {
width: 47%;
}

#massage input[type="text"],
#massage textarea {
	margin-bottom: 30px;
	padding: 5px 20px;
	width: 100%;
	box-shadow: none;
	background: #fff;
	border-radius: 4px;
	color: #222;
	font: bold 14px/14px Arial, sans-serif;
}

#massage input[type="text"] {
	height: 50px;
	border: 1px solid #ccc;
}
#massage textarea {
	padding-top: 20px;
	height: 220px;
	border: none;
	resize: none;
}

::-webkit-input-placeholder {
	font: bold 14px/14px Arial, sans-serif;
	text-transform: uppercase;
	color: #bbb;
}
#submit {
	color: #fff;
}

#copyright {
	padding: 25px 0;
}
#copyright p {
	margin-top: 13px;
	color: #555;
	font: 14px/14px Arial, sans-serif;

}
#copyright .social {
	margin-top: 0;
	margin-left: 340px;
}